body {
    color: #555;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    padding: 4em 1em;
}
h1 {color:blue}
h2, h3 {color:darkred}
li {color: violet;}

.jatkuu {color:red}
h2 {
    color: #333;
    margin-top: 1em;
    padding-top: 1em;
}
  
code {
    padding: 2px 4px;
    vertical-align: text-bottom;
    background: #eee;
}